.form-input {
    width: 100%;
    border-bottom: 1px solid var(--blue-bg-color);
    margin-bottom: 16px;
    position: relative;
}

.form-input .input-label {
    color: var(--dark-gray-color);
    font-size: 9px;
    line-height: 9px;
    text-align: left;
    margin-bottom: 4px;
}

.form-input .input-field {
    height: 25px;
    font-size: 13px;
    line-height: 13px;
    text-align: left;
}

.form-input .input-field::placeholder {
    color: var(--dark-gray-color);
    font-size: 13px;
    line-height: 13px;
    text-align: left;
}

.form-input .input-error {
    position: absolute;
    left: 0;
    bottom: -16px;
    color: var(--red-color);
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    text-align: left;
    opacity: 0;
}
