.button-back {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: var(--blue-bg-color);
  background-image: url(../icons/button-back.svg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}
