.form-input {
  width: 100%;
  border-bottom: 1px solid #3369F3;
  margin-bottom: 16px;

  position: relative;
}

.form-input .input-label {
  color: var(--dark-gray-color);
  font-size: 9px;
  margin-bottom: 4px;
}

.form-input .input-field {
  height: 25px;
  font-size: 13px;
}

.form-input .input-field::placeholder {
  color: var(--dark-gray-color);
  font-size: 13px;
}

.form-input .input-error {
  position: absolute;
  left: 0;
  bottom: -16px;
  color: var(--red-color);
  font-size: 8px;
}