.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);

}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 340px;
  width: 100%;
}

.modal .page-form .title {
  font-size: 15px;
}