.page-form {
  max-width: 340px;
  width: 100%;
  padding: 50px 30px 30px 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 0px #00000024;
  background-color: var(--white-bg-color);
}

.page-form .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-form .title {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.page-form .form-inputs {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}