.search-input {
  height: 32px;
  width: 100%;
  padding: 10px;

  background-color: var(--gray-bg-color);
  font-size: 12px;
  border-radius:5px;
  border: none;
  outline: none;
}

.search-input:placeholder {
  color: var(--dark-gray-color);
}