<div class="chats">
  <div class="top-bar">
    <a class="profile-link" href="../pages/profile-page.html">Профиль</a>
    {{> SearchInput }}
  </div>
  <div class="chats-box">
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
    {{> Chat }}
  </div>
</div>
