<main class="login-page">
      {{!-- {{#> PageForm name="login-form" id="login-form" }}
        <h2 class="title">Вход</h2>
        <div class="form-inputs">
          {{> FormInput label="Логин" name="login" type="text" placeholder="Логин" }}
          {{> FormInput label="Пароль" name="password" type="password" placeholder="Пароль" }}
        </div>
        {{> ButtonAction action="Войти" }}
        {{> ButtonLink href="./signup-page" action="Нет аккаунта?" }}
      {{/PageForm}} --}}
</main>
