<div class="chat-feed">
  <div class="top-bar">
    <div class="info">
      {{> avatar }}
      <span class="name">Андрей</span>
    </div>
    <div class="actions"></div>
  </div>
  <div class="messages">
  </div>
  <div class="send-message">
    <div class="attach"></div>
    {{> message-input }}
    {{> button-send }}
  </div>
</div>
