<div class="chats">
  <div class="top-bar">
    <a class="profile-link" href="../pages/profile-page.html">Профиль</a>
    {{> search-input }}
  </div>
  <div class="chats-box">
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
    {{> chat }}
  </div>
</div>
