    <main class="main-page">
      <nav>
        <ul>
          <li><a data-page-link="LoginPage" href="src/pages/login-page.html">Авторизация</a></li>
          <li><a data-page-link="SignupPage" href="src/pages/signup-page.html">Регистрация</a></li>
          <li><a data-page-link="ChatPage" href="src/pages/chat-page.html">Список чатов и лента переписки</a></li>
          <li><a data-page-link="ProfilePage" href="src/pages/profile-page.html">Профиль пользователя</a></li>
          <li><a data-page-link="NonFoundPage" href="src/pages/non-found-page.html"> Страница 404</a></li>
          <li><a data-page-link="ErrorPage" href="src/pages/error-page.html">Страница 5**</a></li>
        </ul>
      </nav>
    </main>
